.btn-nav {
    width: 50%;
    padding: 20px;
    text-align: center;
    a {
        text-decoration: none;
        img {
            width: 100%;
            height: auto;
        }
        p {
            text-transform: uppercase;
        }      
    }

}